apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: backstage
  namespace: backstage
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
    external-dns.alpha.kubernetes.io/hostname: backstage.timedevops.click
    argocd.argoproj.io/sync-wave: "25"
spec:
  ingressClassName: nginx
  tls:
  - hosts:
    - backstage.timedevops.click
    secretName: backstage-server-tls
  rules:
  - host: backstage.timedevops.click
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: backstage
            port:
              number: 7007
