apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: infrastructure
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/${GITHUB_ORG}/${INFRA_REPO}
    targetRevision: ${INFRA_REVISION}
    path: .
    directory:
      recurse: true
      include: '{s3-buckets/*/bucket.yaml,secrets/*/secret.yaml,ec2-instances/*/instance.yaml,dynamodb-tables/*/table.yaml,ssm-parameters/*/parameter.yaml}'
  destination:
    server: https://kubernetes.default.svc
    namespace: crossplane-system
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - PruneLast=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
  ignoreDifferences:
    - group: backstage.io
      kind: "*"
      jsonPointers:
        - /metadata
        - /spec
