# NOTE: This file is a TEMPLATE. The actual ACM ARN is injected by install.sh
# from config.yaml at install time. Do NOT hardcode values here.
controller:
  config:
    use-forwarded-headers: 'true'
    compute-full-forwarded-for: 'true'
    proxy-real-ip-cidr: '0.0.0.0/0'
  service:
    type: LoadBalancer
    annotations:
      argocd.argoproj.io/sync-wave: '-1'
      service.beta.kubernetes.io/aws-load-balancer-internal: 'false'
      service.beta.kubernetes.io/aws-load-balancer-name: cnoe
      service.beta.kubernetes.io/aws-load-balancer-type: external
      service.beta.kubernetes.io/aws-load-balancer-scheme: internet-facing
      service.beta.kubernetes.io/aws-load-balancer-nlb-target-type: ip
      service.beta.kubernetes.io/aws-load-balancer-ssl-ports: '443'
      service.beta.kubernetes.io/aws-load-balancer-backend-protocol: 'tcp'
      # ACM_CERTIFICATE_ARN - will be set by install.sh from config.yaml
    loadBalancerClass: service.k8s.aws/nlb
    targetPorts:
      https: 'http'
