apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: workloads
  namespace: argocd
  labels:
    app.kubernetes.io/name: workloads-applicationset
    app.kubernetes.io/part-of: platform
spec:
  goTemplate: true
  goTemplateOptions: ["missingkey=error"]

  generators:
    # Git generator to discover ArgoCD applications in the platform GitOps repo
    - git:
        repoURL: https://github.com/{{ .Values.gitHubOrg }}/{{ .Values.platformGitOpsRepo }}.git
        revision: main
        directories:
          - path: applications/workloads/*/*
        requeueAfterSeconds: 60 # Check for new apps every minute

  template:
    metadata:
      name: '{{.path.basename}}'
      namespace: argocd
      labels:
        app.kubernetes.io/name: '{{.path.basename}}'
        app.kubernetes.io/managed-by: applicationset
        argocd.argoproj.io/instance: '{{.path.basename}}'
      annotations:
        argocd.argoproj.io/manifest-generate-paths: .
    spec:
      project: default
      source:
        repoURL: https://github.com/{{ .Values.gitHubOrg }}/{{.path.basename}}-gitops.git
        targetRevision: main
        path: manifests
      destination:
        server: https://kubernetes.default.svc
        namespace: '{{.path[1]}}' # Extract namespace from path (applications/workloads/{namespace}/{app})
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
          allowEmpty: false
        syncOptions:
          - CreateNamespace=true
          - PruneLast=true
          - RespectIgnoreDifferences=true
        retry:
          limit: 5
          backoff:
            duration: 5s
            factor: 2
            maxDuration: 3m
      ignoreDifferences:
        - group: apps
          kind: Deployment
          jsonPointers:
            - /spec/replicas
